<div class="well">
  <h1>What was done today</h1>
  <li>{{post.today}}</li>
  <h1>What will be done tomorrow</h1>
  <li>{{post.tomorrow}}</li>
  <h6>submitted by: <a href="#">{{post.user}}</a> on {{post.date}}</h6>
  {{yield}}
</div>
